[Desktop Entry]
Encoding=UTF-8
Name=JesusCoin
Comment=JesusCoin P2P Cryptocurrency
Comment[fr]=JesusCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=JesusCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/jesuscoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/jesuscoin;
Categories=Office;
